// card
.c-app-container{
	background: #FFFFFF;
	border-radius: 30rpx;
	margin: 24rpx 30rpx;
	padding: 40rpx 0;
}

// count-box
.c-count-box{
	font-family: PingFang SC;
	text-align: center;
	>.count{
		font-size: 36rpx;
		font-weight: bold;
		color: #333333;
		>.unit{
			font-size: 18rpx;
			font-weight: 500;
			color: #999999;
			padding-left: 8rpx;
		}
	}
	>.label{
		font-size: 24rpx;
		font-weight: 500;
		color: #999999;
		margin-top: 10rpx;
		.has-arrow{
			display: inline-block;
			vertical-align: middle;
			width: 9rpx;
			height: 16rpx;
			background: url(../../static/icon_arrow.png) no-repeat;
			background-size: 100% 100%;
			margin-top: -6rpx;
			margin-left: 10rpx;
		}
	}
}

// title
.c-title-box{
	font-family: PingFang SC;
	>.text{
		font-size: 32rpx;
		font-weight: bold;
		color: #333333;
		padding-left: 34rpx;
		position: relative;
		&::before{
			content: '';
			width: 10rpx;
			height: 42rpx;
			background: #477AE4;
			border-radius: 5rpx;
			position: absolute;
			top: 50%;
			margin-top: -21rpx;
			left: 0;
		}
	}
	>.button{
		font-size: 24rpx;
		font-weight: 500;
		color: #477AE4;
		padding-right: 44rpx;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			right: 24rpx;
			top: 8rpx;
			width: 11rpx;
			height: 19rpx;
			background: url(../../static/icon_arrow_blue.png) no-repeat;
			background-size: 100% 100%;
		}
	}
}

// 